{% extends "base.html.twig" %}

{% block body %}
    {% for squirrel in squirrels %}
        <h1>{{squirrel.name}}</h1>
    {% endfor %}
     {% for nut in nuts %}
        <h1>{{nut.name}} {{nut.stock}}</h1>
    {% endfor %}
{% endblock %}